/*
* Global styles :
* 1. Center effect (wrapper)
* 2. Whole page font style
* 3. Eliminate the decoration of a and li
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;  /* centered */
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

/* Container for whole page */
.container {
    /* Display side-nav and content horizontally */
    display: flex;
    height: 100%;
}

/* Side Navigation bar */
.container .side-nav{
    padding: 20px;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    width: 12%;
    height: 100%;
    text-align: center;
    color: #fff; /* text color */
    background-color: #333;
}

.side-nav h3{
    margin:10px 0 20px;
    letter-spacing: 1px;
}

.side-nav li{
    border-radius: 30px;
    margin: 20px 0;
    opacity: 0.8;
}
.side-nav li>a{
    display: inline-block;
    padding: 20px 5px;
    width: 100%;
    color: white;
}

.active{
    box-shadow: 0 0 10px white;
}



.side-nav li:hover{
    width: 100%;
    height: 60px;
    color: white;
    background: none;
    box-shadow: 0 0 10px white;
    opacity: 1;
}

/* right side of Home page*/
.content {
    flex: 1;
    width: 88%;
    height: 100%;
}

/* Navigation bar */
.top-nav{
    display: flex;
    border-top: 2px solid #e0dfdf;
    border-bottom: 4px solid #e0dfdf;
    width: 100%;
    height: 70px;
}

/* div of whole search bar*/
.nav-list-left .search-bar{
    float: left;
    margin-left: 15px;
    width: 100%;
    height: 64px;
}
/* search icon */
.btn-search{
    border-style: none;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: white;
}
/* input text filed*/
.nav-list-left .search-bar>input{
    border-style: none;
    outline: none;
    width: 130px;
    height: 40px;
    font-size: 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.7;
}
/* transform on input text filed*/
input[type=text]:focus{
    width: 200px;
    background: transparent;
    border-bottom: 1px solid grey;
}

.nav-list-right{
    float: right;
    margin-left: auto;
}

.nav-list-right li{
    float: left;
    border-radius: 50%;
    margin: 14px 10px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #eeeded;
    cursor: pointer;
}

.nav-list-right li a{
    display: inline-block;
    font-size: 17px;
    color: black;
}

.nav-list-right a:hover{
    font-size: 20px;
    color: #717171;
}

/* Main body of Home page */
.main-content{
    display: block;
    background-color: #e7e6e6;
    padding: 35px;
    height: calc(100% - 70px);
}

.text{
    display: block;
    width: 100%;
}
.text p{
    font-style: italic;
    font-size: 8px;
    letter-spacing: 0em;
    margin: 15px 0;
    color: #888a8c;
}

