.sub-container{
    display: flex;
}

.update-form{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    box-shadow: 4px 4px 6px 6px grey;
    background-color: white;
}

.update-form h3{
    margin: 10px 5px;
}

.update-form label{
    font-size: 12pt;
    font-weight: bold;
    float: left;
}

.update-form label, .update-form input, .update-form select {
    display: block;
    margin-bottom: 5px;
    width: 200px;
    padding: 3px;
}

input[type="submit"] {
    width: auto;
    margin-top: 20px;
    float: right;
}
