.sub-container{
    width: 100%;
    height: fit-content;
    display: flex;
}

.side-img{
    margin: 70px 60px 0;
    width: 48%;
    height: 100%;
}

.update-form {
    margin: 40px 0 0 40px;
    border: 1px solid black;
    border-radius: 20px;
    width: 38%;
    height: fit-content;
    box-shadow: 4px 4px 6px 6px grey;
    background-color: white;
}

.update-form h3 {
    text-align: center;
    margin: 15px 0;
}

.filed {
    display: flex;
    margin: 20px 0 15px 30px;
    height: 40px;
}

.filed label {
    text-align: right;
    margin: 5px 20px 5px 0;
    width: 33%;
    font-weight: bold;
}

.filed input, .filed select{
    float: left;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    height: 30px;
}

input[type="submit"] {
    display: inline-block;
    padding: 5px 12px;
    margin: 5px 0 0 70%;
    border-radius: 5px;
    width: fit-content;
    background-color: royalblue;
    color: white;
}

input[type="submit"]:hover {
    background-color: cornflowerblue;
}
