<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Applicant form submission</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/applicants.css"/>
    <link rel="stylesheet" href="CSS/application_form.css"/>
</head>
<body>

<div class="container">
    <!--Side Navigation bar-->
    <div class="side-nav">
        <h3>Home Page</h3>
        <hr>
        <ul>
            <li><a href="Applicants.html"><i class="fa fa-fw fa-home"></i> Home </a></li>
            <li><a href="Profile.html"><i class="fa fa-fw fa-user"></i> Profile </a></li>
            <li><a href=" "><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
            <li class="active"><a href="Application_form.html"><i class="fa fa-file"></i> Submit </a></li>
            <li><a href="Result.html"><i class="fa fa-trophy"></i> Result </a></li>
            <li><a href="Settings.html"><i class="fa fa-cog"></i> Settings </a></li>
            <li><a href="index.html"><i class="fa fa-sign-out"></i> Log out </a></li>
        </ul>
    </div>

    <!--Main content of the home page-->

    <!--Main content-->
    <div class="content">
        <div class="top-nav">
            <div class="nav-list-left">
                <form class="search-bar">
                    <button class="btn-search"><i class="fa fa-search"></i></button>
                    <input type="text" name="search" placeholder="Type to search...">
                </form>
            </div>
            <div class="nav-list-right">
                <ul>
                    <li><a href="Profile.html"><i class="fa fa-user-o"></i></a></li>
                    <li><a href=" "><i class="fa fa-calendar"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <h1>Application form</h1><br>
            <div class="submission-form">
                <form th:action="" method="post">
                    <br>
                    <label for="programme1">Programme 1:</label>
                    <select id="programme1" name="programme" required>
                        <option value="" disabled selected hidden></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <label for="programme2">Programme 2:</label>
                    <select id="programme2" name="programme" required>
                        <option value="" disabled selected hidden></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <input type="submit" value="submit"/><br><br>
                </form>
            </div>
            <!--        <h1>Add New Applicant</h1>
                    <form th:action="@{/applcants/save}" method="post">
                        <label>Username</label>
                        <input type="text" th:field="*username"/>
                        <label>Password</label>
                        <input type="text" th:field="*password"/>
                        <label>Gender</label>
                        <input type="text" th:field="*gender"/>
                    </form>-->
        </div>
    </div>
</div>
</body>


</html>