<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Applicant form submission</title>
    <!-- Page icon -->
    <link rel="shortcut icon" th:href="@{/image/graduated.ico}"/>
    <!-- Resource for icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
    <!-- Common Style for the home page-->
    <link th:href="@{/CSS/common.css}" rel="stylesheet"/>
    <!-- CSS style for application form -->
    <link th:href="@{/CSS/application_form.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <!--Side Navigation bar-->
    <div class="side-nav">
        <h3>Home Page</h3>
        <hr>
        <ul>
            <li cals><a th:href="@{/applicant/home_page}"><i class="fa fa-fw fa-home"></i> Home </a></li>
            <li><a th:href="@{/applicant/home_page/profile}"><i class="fa fa-fw fa-user"></i> Profile </a></li>
            <li><a th:href="@{/applicant/home_page/contact}"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
            <li class="active"><a th:href="@{/applicant/home_page/application_form}"><i
                    class="fa fa-graduation-cap"></i> Submit </a></li>
            <li><a th:href="@{/applicant/home_page/settings}"><i class="fa fa-cog"></i> Settings </a></li>
            <li><a th:href="@{/}"><i class="fa fa-sign-out"></i> Log out </a></li>
        </ul>
    </div>

    <!--Main content-->
    <div class="content">
        <div th:replace="~{/common/common::top-nav}"></div>

        <div class="main-content">
            <div class="text">
                <h1>Application form</h1>
                <p>Ready to join us? Check the programme list and Submit your application form</p>
                <hr>
            </div>

            <!-- Container for -->
            <div class="sub-container">

                <div class="class-list">
                    <h4>Programme List offered at XYZ University</h4>
                    <hr>
                    <div class="programme-table">
                        <table>
                            <thead>
                            <tr>
                                <th> Programme ID</th>
                                <th> Programme name</th>
                                <th> Description</th>
                                <th> Duration</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="program : ${program}">
                                <tr>
                                    <td th:text="${program.programId}"></td>
                                    <td th:text="${program.programName}"></td>
                                    <td th:text="${program.description}"></td>
                                    <td th:text="${program.programDuration}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="sub-sub-container">
                    <div class="submission-form">
                        <h2>Application Form</h2>
                        <form th:action="@{/applicationform/submit}" th:method="post">
                            <hr>
                            <br>
                            <input type="hidden" name="applicantId" th:value="${user.userId}" required>

                            <label for="programme 1">Programme 1 : </label>
                            <input type="number" id="programme 1" name="programIds" required>

                            <label for="programme 2">Programme 2 : </label>
                            <input type="numbber" id="programme 2" name="programIds">

                            <input type="submit" value="submit"/><br><br>
                        </form>
                    </div>
                    <div class="progress">
                        <h3>Your application status:</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>


</html>