<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login In</title>
    <!-- Page icon -->
    <link rel="shortcut icon" th:href="@{/image/university.ico}"/>
    <link th:href="@{/CSS/login_Signup.css}" rel="stylesheet"/>
</head>
<body>

<!--Background Image with blur effect-->
<div class="bg-image"></div>

<!--Login form-->
<div class="container">
    <!--Side image-->
    <div class="right-img"></div>
    <!--Login information form-->
    <div class="login-form">
        <h2>Welcome Back !</h2>
        <h6>Please fill in your credentials to login</h6>

        <!-- Require type of object should be applicant -->
        <form th:action="@{/applicant/login}" th:object="${applicant}" th:method="post">
            <hr>
            <br>
            <!-- Two field to match the applicant -->
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" placeholder="Email address" required/><br>

            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Password" required /><br><br>

            <label class="remember"><input type="checkbox" checked="checked" name="remember"> Remember me</label>

            <!--需要导航 href needed-->
            <a class="forget-password" th:href="@{/}">Forgot password?</a>
            <input type="reset" value=" Reset "/>
            <input type="submit" value=" Log in "/><br><br>
            <h5>Don't have an account? <a th:href="@{/applicant/register}">Sign up</a></h5>
        </form>
    </div>
</div>
</body>
</html>