<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <!-- Page icon -->
    <link rel="shortcut icon" th:href="@{/image/graduated.ico}"/>
    <!-- Resource for icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
    <!-- Common Style for the home page-->
    <link th:href="@{/CSS/common.css}" rel="stylesheet"/>
    <!-- Style for setting page -->
    <link th:href="@{/CSS/settings.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <!--Side Navigation bar-->
    <div class="side-nav">
        <h3>Home Page</h3>
        <hr>
        <ul>
            <li><a th:href="@{/applicant/home_page}"><i class="fa fa-fw fa-home"></i> Home </a></li>
            <li><a th:href="@{/applicant/home_page/profile}"><i class="fa fa-fw fa-user"></i> Profile </a></li>
            <li><a th:href="@{/applicant/home_page/contact}"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
            <li><a th:href="@{/applicant/home_page/application_form}"><i class="fa fa-graduation-cap"></i> Submit </a>
            </li>
            <li class="active"><a th:href="@{/applicant/home_page/settings/{id}(id=${user.userId})}"><i class="fa fa-cog"></i> Settings </a>
            </li>
            <li><a th:href="@{/}"><i class="fa fa-sign-out"></i> Log out </a></li>
        </ul>
    </div>

    <!--Main content of the home page-->

    <!--Main content-->
    <div class="content">
        <div th:replace="~{/common/common::top-nav}"></div>

        <div class="main-content">
            <div class="text">
                <h1>Settings</h1>
                <p> Update your personal information</p>
                <hr>
            </div>
            <!-- Update form -->
            <div class="sub-container">
                <div class="update-form">
                    <h3>Update Request</h3>
                    <hr>
                    <form th:action="@{/applicant/home_page/settings/{id}(id=${user.userId})}" th:object="${user}" th:method="post">
                        <div class="filed">
                            <label for="username">Username :</label>
                            <input type="text" id="username" th:field="*{username}">
                        </div>

                        <div class="filed">
                            <label for="email">Email :</label>
                            <input type="email" id="email" name="email" th:filed="*{email}">
                        </div>

<!--                        <div class="filed">
                            <label for="email">Email :</label>
                            <input type="password" id="password" th:field="*{password}">
                        </div>-->

                        <div class="filed">
                            <label for="gender"><strong>Gender :</strong></label>
                            <select id="gender" name="gender" th:field="*{gender}">
                                <option value="" disabled selected hidden></option>
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>

<!--                        <div class="filed">
                            <label for="dob"><strong>Date of Birth :</strong></label>
                            <input type="date" id="dob" th:field="*{dateOfBirth}">
                        </div>-->
                        <div class="filed">
                            <label for="phone"><strong>PhoneNumber :</strong></label>
                            <input type="tel" id="phone" th:field="*{phoneNumber}"/>
                        </div>

                        <input type="submit" value="Update"/><br><br>
                    </form>
                </div>

                <!-- Side image-->
                <div class="side-img">
                    <img src="/image/study.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>