<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School_Admin</title>
</head>
<body>
<h1>This is the Schoole Admin Login Page.</h1>

<form action="#" th:action="@{/admin/login}" th:object="${schoolAdmin}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{schoolAdminUsername}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{schoolAdminPassword}" required>
    </div>

    <button type="submit">Login</button>
</form>


</body>
</html>